body {
    text-align: center;
    background: url("http://localhost:8080/static/image/background.jpg");
    background-size: cover;
    margin: 0;
}

.up {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0;
    bottom: 20px;
    z-index: -10;
}


.container {
    color: white;
}

.contai {
    text-align: center;
    margin: 50px;
    background: rgba(80, 40, 42, 0.27);
    border-radius: 16px;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.title {
    font-size: 50px;
    margin-top: 100px;
    height: 120px;
}

.content {
    font-size: 20px;
    margin-top: 25px;
    height: 50px;
}

.button {
    color: white;
}

.element {
    margin-bottom: 4vh;
}