<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity - ExplorEUr</title>
    <link rel="stylesheet" href="../static/css/activity.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="icon" type="image/x-icon" href="https://localhost:8080/static/image/logo.png">
</head>
<body>
<header>
    <a href="https://localhost:8080/">
        <img class="img_header" src="https://localhost:8080/static/image/logo.png">
    </a>
    <a class="a_header" href="https://localhost:8080/category">
        <h1 class="headerLetter">Category</h1>
    </a>
    {{if not .IsConnected}}
        <a class="a_header" href="https://localhost:8080/login">
            <h1 class="headerLetter">Sign in / Sign up</h1>
        </a>
    {{else if .IsConnected}}
        <a class="a_header" href="https://localhost:8080/activity">
            <h1 class="headerLetter">Activity</h1>
        </a>
        <a class="a_header" href="https://localhost:8080/logout">
            <h1 class="headerLetter">Logout</h1>
        </a>
    {{end}}
</header>
<main>
    {{if .IsConnected}}
    <div class="container">
        <h1 class="title">Your activity</h1>
        <div class="contai">
        <h2 class="subtitle">Your last activities</h2>
        <div class="element">
            {{range .Activity}}
            {{end}}
        </div>
        </div>
    </div>
    <div class="container">
        <h1 class="title">Your notifications</h1>
        <div class="contai">
        <h2 class="subtitle">Your last notifications</h2>
        <div class="element">
            {{range .Notification}}
            {{end}}
        </div>
        </div>
    </div>
    {{if eq .Role "admin"}}
    <div class="container">
        <h1 class="title">Your admin activity</h1>
        <div class="contai">
            <h2 class="subtitle">Your last admin activity</h2>
            <div class="element">
                {{range .Admin-activity}}
                {{end}}
            </div>
        </div>
    </div>
    {{end}}
    {{else if not .IsConnected}}
    <div class="container">
        <h1 class="title">You are not connected</h1>
        <h2 class="subtitle">Please log in or sign up</h2>
    </div>
    {{end}}
    <a class="button" href="/">
        <h1 class="homepage-button">Return to Homepage</h1>
    </a>
</main>
<footer>
    <p align="center">the project is a Forum was created for 2023 end year with : <br>- Fauré Léo <br>- Cenac Lucille <br>- Brun Sasha <br>- Laldy-Maquiha Adan</p>
</footer>
</body>
</html>