<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg - ExplorEUr</title>
    <link rel="stylesheet" href="../static/css/easter_egg.css">
</head>
<body>
<div class="easter_egg">
    <iframe
            width="1500" height="800"
            src="https://www.youtube.com/embed/zPpE1Hwe4sg"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
    ></iframe>
</div>
</body>
</html>