<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="http://localhost:8080/static/css/home.css">
    <link rel="icon" type="image/x-icon" href="http://localhost:8080/static/image/logo.png">
</head>
<body class="center">

<header>
    <a href="http://localhost:8080/">
        <img class="img_header" src="http://localhost:8080/static/image/logo.png" alt="logo">
    </a>
    <a class="a_header" href="http://localhost:8080/category">
        <h1 class="headerLetter">Category</h1>
    </a>
    <a href="http://localhost:8080/register">
        <h1 class="headerLetter">Register</h1>
    </a>
    <a href="http://localhost:8080/login">
        <h1 class="headerLetter">Login</h1>
    </a>
</header>

<h1 class="white">Welcome to the forum ExploreUr !</h1>
<p class="white">This forum is for urbex enthusiasts and to provide global information and best practices</p>
<img src="http://localhost:8080/static/image/warning.png" class="img_warning" alt="warning_img">
<section class="section_warning">
    <div class="div_warning">
        <img src="http://localhost:8080/static/image/illegal.png" class="img_att" alt="illegal_img">
        <p class="p_warning white">It is important to note that urbex is an illegal activity in many places. We would
            like to make it clear that we are in no way responsible for your actions.</p>
    </div>
    <div class="div_warning">
        <img src="http://localhost:8080/static/image/conseil.png" class="img_att" alt="help_img">
        <p class="p_warning white">However, we encourage members to share their experiences, discuss interesting places
            to explore and exchange tips for practicing urbex in a responsible and respectful way.</p>
    </div>
    <div class="div_warning">
        <img src="http://localhost:8080/static/image/discussion-privee.png" class="img_att" alt="img_message">
        <p class="p_warning white">Remember to always respect private property, exercise caution, and obey the rules in
            your area. Safety should be the top priority during any urban exploration.</p>
    </div>
    <div class="div_warning">
        <img src="http://localhost:8080/static/image/passionne.png" class="img_att" alt="like_img">
        <p class="p_warning white">Take advantage of this forum to expand your knowledge and passion for urbex, but
            always remember to act responsibly and legally.</p>
    </div>
</section>
<h3 class="white">We wish you great urban discoveries and fruitful discussions within the ExpleUr community<a class="easter_egg" href="http://localhost:8080/easter_egg">!</a></h3>
</body>
</html>