<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login - ExplorEUr</title>
    <link rel="icon" type="image/x-icon" href="https://localhost:8080/static/image/logo.png">
</head>
<body>
<form class="content" method="POST">
    <div class="container">
        <img class="image" src="../static/image/utilisateur.png">
        <input class="input" type="text" name="nickname" autocomplete="off" placeholder="Enter your nickname">
    </div>
    <div class="container">
        <img class="image" src="../static/image/cadenas.png">
        <input class="input" type="password" name="password" autocomplete="off" placeholder="Enter your password">
    </div>
    <div class="choice">
        <input class="checkbox" type="checkbox" id="remember-me" name="remember-me" value="1">
        <label for="remember-me">Remember me</label>
        <a class="forgot" href="/recover_password">Forgot password?</a>
    </div>
    <a class="registration" href="/registration">Registration</a>
    <button class="loginButton" type="submit">Login</button>
</form>
</body>
</html>
