<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/recovering_password.css">
  <title>Password Recovery - ExplorEUr</title>
</head>
<body>
<form class="content" method="POST">
  <div class="container">
    <img class="image" src="../static/image/utilisateur.png">
    <input class="input" type="text" name="nickname" autocomplete="off" placeholder="Enter your nickname">
  </div>
  <div class="container">
    <img class="image" src="../static/image/cadenas.png">
    <input class="input" type="password" name="password" autocomplete="off" placeholder="Enter a new password" required>
  </div>
  <div class="password-info">
    <p class="password-description">(The password must contain at least one lowercase letter, one uppercase letter, <br>one digit, one special character, and must be a minimum of 8 characters)</p>
  </div>
  <div class="container">
    <img class="image" src="../static/image/cadenas.png">
    <input class="input" type="password" name="confirmation"  autocomplete="off" placeholder="Confirm your new password"required>
  </div>
  <button class="registerButton" type="submit">Recover Password</button>
  <p id="errorText">
  <div class="redirection">
    <label>Already have an account?</label>
    <a class="login" href="/login">Log in</a>
  </div>
</form>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const error = urlParams.get('error');
  document.getElementById("errorText").innerHTML=error;
  document.getElementById("errorText").style.textAlign="center";
  document.getElementById("errorText").style.color="red";
</script>
</body>
</html>